<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css' ) }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siddharth Bank</title>
    <div class="caption">
        <h1>Siddharth Bank</h1>
        <p>Banking technology has made it simple and efficient to invest in good causes.</p>
    </div>
    <div class="btn">
        <a href="/login">Login</a>
        <a id="btn1"href="/sing-up">Sing-up</a>
    </div>
</head>

<body>

</body>

</html>